<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteBase /
  RewriteEngine On
  RewriteCond %{SERVER_PORT} !=443
  RewriteRule ^(.*)$ https://cryptoranger.net/$1 [R=301,L]
  
  RewriteRule ^admin/ bootstrap.php?app=Backend [QSA,L]

  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule ^(.*)$ index.php?app=Frontend [QSA,L]
</IfModule>